<div *ngIf="productsList.length > 0; else productListEmpty" class="row my-4">

  <app-product-card-add class="card-item bg-light border rounded shadow"></app-product-card-add>

  <product-card
    *ngFor="let product of productsList"
    [product]="product"
    class="card-item bg-light border rounded shadow">
  </product-card>

</div>

<!-- Mostrar mensaje si no hay productos -->
<ng-template  #productListEmpty>
  <div class="row my-4">
    <p>No hay productos disponibles.</p>
    <app-product-card-add class="col-12 bg-light border rounded shadow"></app-product-card-add>
  </div>
</ng-template>
