<h2>Filtrar productos</h2>

<div class="row my-4">
  <div class="col-12 bg-light border rounded shadow m-2 p-2">
      <div class="form-group row">
        <label class="col-lg-3 col-md-12 col-form-label mt-2">Introduzca el nombre del producto a filtrar:</label>
        <div class="col-lg-4 col-md-12">
          <input name="nombre" type="text" class="form-control" [(ngModel)]="filtroNombre">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-12 col-md-12 col-form-label mt-2">Filtrar por precio:</label>
      </div>
      <div class="form-group row">
        <label class="col-auto col-form-label mt-2">> que:</label>
        <div class="col-lg-2 col-md-12">
          <input min="0.01" name="precioMin" type="number" class="form-control" [(ngModel)]="filtroPrecioMin">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-auto col-form-label mt-2">< que:</label>
        <div class="col-lg-2 col-md-12">
          <input max="1000" name="precioMax" type="number" class="form-control" [(ngModel)]="filtroPrecioMax">
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <button type="button" class="col-auto btn btn-success m-3" (click)="filtrarProductos()">Buscar</button>
        <button type="button" class="col-auto btn btn-secondary m-3" (click)="resetearBusqueda()">Resetear búsqueda</button>
      </div>

  </div>
</div>

<!-- Renderizamos la lista de productos -->
<div *ngIf="productosFiltrados.length > 0; else noProductos">
  <div class="row my-4">
    <div *ngFor="let producto of productosFiltrados" class="producto-card col-lg-2 col-md-12 bg-light border rounded shadow m-2">
      <img [src]="producto.imagenHrefExterno" alt="{{ producto.nombre }}" class="my-2 producto-image rounded">
      <h2 class="my-2">{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion}}</p>
      <div class="precio-div">
        <hr>
        <p>Precio: <b>{{ producto.precio }}</b> €</p>
      </div>
    </div>
  </div>
</div>

<!-- Mostrar mensaje si no hay productos -->
<ng-template #noProductos>
  <p>No hay productos disponibles.</p>
</ng-template>
