<h2>Crear productos</h2>

<div *ngIf="productoCreado" class="alert alert-success" role="alert">
  ¡Producto creado correctamente!
</div>

<div class="row my-4">
  <div class="producto-card col-12 bg-light border rounded shadow m-2 p-2">
    <form #productoForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label class="col-lg-3 col-md-12 col-form-label mt-2">Introduzca el nombre del producto:</label>
        <div class="col-lg-4 col-md-12">
          <input required [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-control" #nombre="ngModel">
          <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
            El nombre es requerido.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-md-12 col-form-label mt-2">Introduzca la descripción del producto:</label>
        <div class="col-lg-4 col-md-12">
          <input [(ngModel)]="producto.descripcion" name="descripcion" type="text" class="form-control" #descripcion="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-md-12 col-form-label mt-2">Introduzca la URL para la imagen:</label>
        <div class="col-lg-9 col-md-12">
          <input required [(ngModel)]="producto.imagenHrefExterno" name="imagenHrefExterno" type="text" class="form-control" #imagenHrefExterno="ngModel">
          <div *ngIf="imagenHrefExterno.invalid && imagenHrefExterno.touched" class="text-danger">
            La URL de la imagen es requerida.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-md-12 col-form-label mt-2">Introduzca el precio del producto:</label>
        <div class="col-lg-1 col-md-12">
          <input min="0.05" required [(ngModel)]="producto.precio" name="precio" type="number" class="form-control" #precio="ngModel">
          <div *ngIf="precio.invalid && precio.touched" class="text-danger w-100 position-absolute">
            El precio es requerido y debe ser al menos 0.05.
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <button type="submit" class="col-auto btn btn-success mt-3" [disabled]="productoForm.invalid">Crear producto</button>
      </div>

    </form>
  </div>
</div>
