
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2>CRUD de productos</h2>
    </div>
    <div class="col-10">
      <app-filter class="w-100" [productsList]="productsList" (productsFilteredEmmitter)="getListFilter($event)"></app-filter>
    </div>
    <div class="col-12 my-4">
      <!-- Renderizamos la lista de productos -->
      <div *ngIf="loading" class="row justify-content-center">
        <mat-spinner class="p-0"></mat-spinner>
      </div>
      <app-listado [productsList]="productsListShow"></app-listado>
    </div>
  </div>
</div>
